[Unit]
Description=HomeDNS an api driven DNS server for dynamic DNS Root Authority
After=network.target

[Service]
ExecStart=/usr/local/bin/homedns-updater
User=homedns
Group=homedns

# Restart on failure
Restart=always

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=homedns-updater

[Install]
WantedBy=multi-user.target